html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #edeeee;
}

.navbar-brand {
    margin-left: 30px;
    padding: 10px;
    background-color: #ea8ec4;
    text-align: center;
    font-weight: bold;
    font-size: 3vh;
}

.navbar-brand {
    color: white !important;
}

.container {
    margin: 0 0 100px 0;
    /* margin-top: 50px !important;
    margin-bottom: 300px;
    padding: 50px !important;
    border-style: solid !important;
    border-color: gray !important;
    border-width: 1px !important;
    width: 50% !important;
    background-color: white !important; */
    /* margin-bottom: 500px !important; */

}

.content {
    padding: 50px;
    margin: 30px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    background-color: white;
}

.about .img-fluid {
    float: left;
    max-width: 40%;
    margin-right: 20px;
}

h1 {
    color: #ea8ec4;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #d3d4d3;
    margin-bottom: 30px;
    padding-bottom: 5%;
}

.pf-img {
    padding: 20px;
    position: relative;
    
}

.pf-img .responsive {
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid black;
}

.pf-img .img-text {
    position: relative;
    background-color: #ea8ec4;
    bottom: 60px;
    left: 0;
    /* right: 0; */
    /* margin: 5%; */
    width: 100%;
    /* z-index: 2; */
    height: 4vh;
    font-size: 2vh;
    text-align: center;
    color: white;
}

.btn {
    background-color: #ea8ec4;
    color: white;
    margin-top: 3%;
}

footer {
    color: white !important; 
    /* margin-top: 500px !important; */
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top: 2px solid #ea8ec4;
}